@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.prose p {
  @apply indent-6 break-words;
}

.prose ol p,
.prose ul p {
  @apply indent-0; /* remove indent for paragraphs inside lists */
}

.katex-display {
  text-align: center;
  font-size: 1.0em;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  overflow-x: auto;
}

.katex-display > .katex {
  display: inline-block;
}
